@using ClickerWeb.UseCases.GetLeaderboard;
@model LeaderboardDto

<div class="container my-4">
    <h2 class="text-center mb-4">Таблица лидеров</h2>
    <table class="table table-hover table-striped align-middle text-center">
        <thead class="table-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Пользователь</th>
            <th scope="col">Рекордный счет</th>
        </tr>
        </thead>
        <tbody>
        @for (var i = 0; i < Model.Users.Count; i++)
        {
            var place = i + 1;
            var user = Model.Users.ElementAt(i);
            <tr>
                <th scope="row">@place</th>
                <td class="d-flex justify-content-center align-items-center">
                    @if (user.Avatar.Length == 0)
                    {
                        <img src="~/anonymous.png" class="rounded-circle me-2" height="40" width="40" alt="Avatar" />
                    }
                    else
                    {
                        <img src="data:image/png;base64, @Convert.ToBase64String(user.Avatar)" class="rounded-circle me-2" height="40" width="40" alt="@user.UserName's Avatar" />
                    }
                    <span class="fw-bold">@user.UserName</span>
                </td>
                <td class="text-success fw-bold">@user.RecordScore</td>
            </tr>
        }
        </tbody>
    </table>
</div>
