@model IndexViewModel
@{
    ViewBag.Title = "Главная";
}

@section styles {
    <link href="@Url.Content("~/css/index.css")" rel="stylesheet">
}

<div class="container">
    <div class="row">
        <div class="col-3 d-flex flex-column justify-content-center align-items-center">
            <div class="">
                <p class="user-info-title">Привет, @Model.User.UserName!</p>
                <p class="user-info-text">Ты собрал <span id="current_score" class="highlight-text">@Model.User.CurrentScore</span> <img class="orb-img" width="1.2em" height="1.2em" src="orb.png" /></p>
                <p class="user-info-text">Всего ты собрал <span id="record_score" class="highlight-text">@Model.User.RecordScore</span> <img class="orb-img" width="1.2em" height="1.2em" src="orb.png" /></p>
                <p class="user-info-text">С одного удара по противнику ты получаешь <span id="profit_per_click" class="highlight-text">@Model.User.ProfitPerClick</span> <img class="orb-img" width="1.2em" height="1.2em" src="orb.png" /></p>
                <p class="user-info-text">Каждую секунду ты получаешь <span id="profit_per_second" class="highlight-text">@Model.User.ProfitPerSecond</span> <img class="orb-img" width="1.2em" height="1.2em" src="orb.png" /></p>

            
                <div class="d-flex justify-content-between align-items-center mt-4">
                    @if (Model.User.Avatar.Length == 0)
                    {
                        <img src="~/anonymous.png" class="avatar-img" width="100px" height="100px"/>
                    }
                    else
                    {
                        <img src="data:image/png;base64, @Convert.ToBase64String(Model.User.Avatar)" class="avatar-img" width="100px" height="100px"/>
                    }
                    <form asp-action="SetAvatar" asp-controller="user" method="post" enctype="multipart/form-data" class="ms-3">
                        <input id="avatar-form-control" type="file" class="form-control mt-2" name="avatar" accept="image/*" />
                        <input id="update-avatar-submit" type="submit" class="btn btn-primary mt-2" value="Обновить аватар" />
                    </form>
                </div>
                <form asp-action="leaderboard" asp-controller="user" method="get" class="mt-4">
                    <input type="submit" class="btn btn-primary" value="Таблица лидеров" />
                </form>
                <form asp-action="Logout" asp-controller="Auth" class="mt-4">
                    <input type="submit" class="btn btn-secondary" value="Выйти из аккаунта" />
                </form>
                </div>
        </div>
        
        <div class="col-4 d-flex justify-content-center align-items-center">
            <button id="clickitem" class="click-item bg-transparent border-0 rounded-circle p-0 position-relative">
                <img src="orb.png" width="1.2em" height="1.2em" alt="click item" class="click-item-img" />
            </button>
        </div>
        
        <div class="col-5">
            <div class="col-12 m-3 d-flex flex-column flex-wrap boosts-container">
                @foreach (var boost in Model.Boosts)
                {
                    var userBoost = Model.User.UserBoosts.FirstOrDefault(ub => ub.BoostId == boost.Id);
                    var price = userBoost?.CurrentPrice ?? boost.Price;
                    var quantity = userBoost?.Quantity ?? 0;
        
                    <button class="col-12 d-flex justify-content-center align-items-center boost-button border-0 m-2 rounded shadow-sm d-flex">
                        <div class="boost-id" hidden>@boost.Id</div>
                        <div class="col-2 d-flex justify-content-center align-items-center">
                            <img class="d-block p-0 m-1" src="data:image/png;base64, @Convert.ToBase64String(boost.Image)" height="60px"/>
                        </div>
                        <div class="col-3 boost-title">@boost.Title</div>
                        <div class="col-2">
                            <p class="p-0 m-0">
                                Доход:
                                <br>
                                <span class="boost-profit">@boost.Profit</span>
                                @if (boost.IsAuto)
                                {
                                    <br>
                                    <span> в секунду</span>
                                }
                            </p>
                        </div>
                        <div class="col-3 boost-price-string">Цена:
                            <p class="boost-price p-0 m-0">@price</p></div>
                        
                        <div class="col-2">
                            <p class="p-0 m-0">
                                Куплено:
                                <br>
                                <span class="p-0 m-0 boost-quantity">@quantity</span>
                            </p>
                        </div>
                    </button>
                }
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="~/js/index.js"></script>
}
